@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap');

html {
  box-sizing: border-box;
  font-size: 12px;
}

* {
  box-sizing: inherit;
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
}
